{% include '@duplicare/components/sections/hero.html.twig' with { 'section': training.hero } %}
{% if training.menu %}
    {% include '@duplicare/components/submenu.html.twig' with { 'section': training.menu } %}
{% endif %}
{{ drupal_entity('block', 'breadcrumbs') }}

<div class="container-fluid wrap">
    <div class="row">
        <div class="col-xs-12 col-sm-10">
          {% include '@duplicare/components/paragraphs/wrapper.html.twig' with { 'paragraphs': training.paragraphs } %}
        </div>
    </div>
</div>

{% include '@duplicare/components/sections/wrapper.html.twig' with { 'sections': training.sections } %}