<section class="project-grid container-fluid wrap mb-20">
	<div class="row">
		<div class="col-xs-12">
            {% if section.title %}
                <h2 class="h2 text-tertiary mb-2">
                    {{ section.title }}
                    <svg width="28" height="9" viewBox="0 0 28 9" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                        <path d="M25.024 1.344C23.968 2.496 22 4.272 19.696 4.272C17.392 4.272 15.808 3.264 14.368 2.64C12.832 2.016 11.104 0.912 8.416 0.912C5.152 0.912 2.368 2.976 0.784 5.088L2.896 7.92C4.144 6.528 6.064 4.992 8.368 4.992C10.672 4.992 12.256 6 13.696 6.624C15.28 7.248 17.056 8.352 19.744 8.352C22.912 8.352 25.744 6.384 27.28 4.08L25.024 1.344Z"
                                fill="#E30613"/>
                    </svg>
                </h2>
            {% endif %}
            {% if section.intro %}
                <h6 class="h6 text-tertiary mb-10">{{ section.intro|raw }}</h6>
            {% endif %}

			<div class="project-grid--inner {{section.items|length <= 2 ? 'group' : ''}} {{section.items|length > 2 ? 'project' : ''}}">
				{% for key,  item in section.items %}
					{% include '@duplicare/components/teasers/project--teaser.html.twig' with { 'project': item } %}
				{% endfor %}
			</div>
			{% if section.link %}
				{% include '@duplicare/components/partials/button.html.twig' with {
                    'url': section.link.url, 
                    'text': section.link.text, 
                    'align': 'center', 
                    'color': 'primary', 
                    'tilde': false 
                } %}
			{% endif %}
		</div>
	</div>
</section>