<div class="max-w-screen-lg mx-auto mb-34 paragraph paragraph--video">
	<iframe src="{{ paragraph.src }}" class="w-full h-560 rounded-lg mb-2"></iframe>
	<p class="font-sofia text-xs text-tertiary-700">{{ paragraph.caption }}</p>
</div>
