<div class="flex items-center justify-center">
    <button type="button" class="btn btn--tertiary btn-has-icon-before">
		<svg width="10" height="6" viewbox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon mr-6">
			<path d="M7.812 0.156C7.532 0.492 6.986 1.038 6.3 1.038C5.642 1.038 5.194 0.73 4.774 0.562C4.326 0.366 3.836 0.0579998 3.066 0.0579998C2.086 0.0579998 1.274 0.674 0.784 1.346L1.47 2.242C1.82 1.822 2.366 1.36 3.038 1.36C3.71 1.36 4.158 1.668 4.578 1.836C5.026 2.032 5.558 2.34 6.328 2.34C7.266 2.34 8.092 1.752 8.568 1.01L7.812 0.156Z" fill="white"/>
		</svg>
        Vorige
	</button>

    <ul class="flex items-center px-8">
        <li class="mr-2"><a href="#" class="paragraph no-underline text-tertiary">1</a></li>
        <li class="mr-2"><a href="#" class="paragraph no-underline text-secondary">2</a></li>
        <li class="mr-2"><a href="#" class="paragraph no-underline text-tertiary">3</a></li>
        <li class="mr-2"><a href="#" class="paragraph no-underline text-tertiary">4</a></li>
        <li><a href="#" class="paragraph no-underline text-tertiary">5</a></li>
    </ul>

	<button type="button" class="btn btn--secondary btn-has-icon-after">
        Volgende
		<svg width="10" height="6" viewbox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon ml-6">
			<path d="M7.812 0.156C7.532 0.492 6.986 1.038 6.3 1.038C5.642 1.038 5.194 0.73 4.774 0.562C4.326 0.366 3.836 0.0579998 3.066 0.0579998C2.086 0.0579998 1.274 0.674 0.784 1.346L1.47 2.242C1.82 1.822 2.366 1.36 3.038 1.36C3.71 1.36 4.158 1.668 4.578 1.836C5.026 2.032 5.558 2.34 6.328 2.34C7.266 2.34 8.092 1.752 8.568 1.01L7.812 0.156Z" fill="white"/>
		</svg>
	</button>
</div>
