{# <article class="flex items-center">
    <img src="{{ researcher.avatar.src }}" alt="{{ researcher.avatar.alt }}" class="w-50 h-50 rounded-full mr-2" />

    <div>
        <p class="font-sofia text-sm font-bold text-primary-100">{{ researcher.title }}</p>
        <p class="font-sofia text-xs text-primary-100">{{ researcher.function }}</p>
    </div>
</article> #}