{% include '@duplicare/components/sections/hero.html.twig' with { 'section': maritiem_leven.hero } %}

<div class="container-fluid wrap">
    {% include '@duplicare/components/sections/project-groups.html.twig' %}

    {% include '@duplicare/components/sections/research-projects.html.twig' %}
</div>